@import "../styles/mixins";
.container {
  @include flex(
    $flexDirection: column,
    $justifyContent: center,
    $alignItems: center
  );
  min-height: 100vh;
  height: 100vh;
}

.main {
  @include flex(
    $flexDirection: column,
    $justifyContent: center,
    $alignItems: center,
    $gap: 1rem
  );
}
.homeCarousel {
  width: 100%;
  height: 300px;
  background-color: yellow;
  z-index: 2;
}
.contentContainer {
  @include flex($justifyContent: space-between);
  width: 80%;
  position: relative;
  margin: auto;
  height: 100%;
}
@media (max-width: 1024px) {
  .contentContainer {
    width: 100%;
  }
}
