.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
}
.homeCarousel {
  width: 100%;
  height: 300px;
}
.contentContainer {
  width: 1300px;
  background-color: yellow;
  position: relative;
  margin: auto;
  height: 100vh;
  display: flex;
}

.footer {
  position: fixed;
  z-index: 3;
  bottom: 0%;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
