.nav {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0%;
  color: rgb(0, 0, 0);
  padding-bottom: 1rem;
  background-color: rgb(31, 145, 238);
  box-shadow: 0px 10px 1.2rem 1px rgba(0, 0, 0, 0.13);
}

.ul {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  padding: 2rem;
  gap: 3rem;
}
.logo {
  margin-right: auto;
  font-size: 4rem;
  font-family: "Morganite", Arial, Helvetica, sans-serif;
}
.nav ul li {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
