/* @media (min-width: 40rem) { */
.sidebar {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 127px;
  /* width: 20%; */
  bottom: 0%;
  padding: 2rem;
  background-color: violet;
  height: calc(100vh);
}
/* } */
